<p-toast></p-toast>
<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img
                src="https://cdn-icons-png.flaticon.com/512/169/169850.png"
                height="40"
                class="mr-2"
                />
        </ng-template>
        <ng-template pTemplate="end">
            <span>Bem vindo(a), {{ nome }}</span>
        </ng-template>
    </p-menubar>
</div>

<div class="screen">
    <div class="buttons">
        <p-card (click)="abrirSaque()">
            <h2 class="m-0">Sacar</h2>
        </p-card>
        <p-card (click)="abrirDeposito()">
            <h2 class="m-0">Depositar</h2>
        </p-card>
        <p-card (click)="abrirPgto()">
            <h2 class="m-0">Pagar conta</h2>
        </p-card>
        <p-card (click)="abrirAlteracao()">
            <h2 class="m-0">Alterar Info</h2>
        </p-card>
    </div>
    <p-card header="Saldo">
        <h1 class="m-0">
            {{ saldo }}
        </h1>
    </p-card>
</div>

<div class="dialogSaque flex justify-content-center">
    <p-dialog header="Saque" [(visible)]="saque" [style]="{width: '60%' , height: '30%'}">
        <span class="p-inputgroup p-float-label">
            <p-inputNumber class="saque" inputId="saque" mode="decimal"
                [maxFractionDigits]="2" mode="currency" currency="BRL"
                locale="pt-BR"
                [(ngModel)]="value"> </p-inputNumber>
            <label htmlFor="saque">Digite o valor do saque</label>

            <button pButton label="Efetuar saque"
                styleClass="p-button-secondary" (click)="sacar()"></button>
        </span>
    </p-dialog>
</div>

<div class="dialogDeposito flex justify-content-center">
    <p-dialog header="Deposito" [(visible)]="deposito" [style]="{width: '60%' , height: '30%'}">
        <span class="p-inputgroup p-float-label">
            <p-inputNumber class="deposito" inputId="deposito" mode="decimal"
                [maxFractionDigits]="2" mode="currency" currency="BRL"
                locale="pt-BR"
                [(ngModel)]="value"> </p-inputNumber>
            <label htmlFor="deposito">Digite o valor do depósito</label>

            <button pButton label="Efetuar depósito"
                styleClass="p-button-secondary" (click)="sacar()"></button>
        </span>
    </p-dialog>
</div>

<div class="dialogPgto flex justify-content-center">
    <p-dialog header="Pagamentos" [(visible)]="pgto" [style]="{width: '60%' , height: '30%'}">
        <span class="p-inputgroup p-float-label">
            <p-inputNumber class="pgto" inputId="pgto" mode="decimal"
                [maxFractionDigits]="2" mode="currency" currency="BRL"
                locale="pt-BR"
                [(ngModel)]="value"> </p-inputNumber>
            <label htmlFor="pgto">Digite o valor do pagamento</label>

            <button pButton label="Efetuar pagamento"
                styleClass="p-button-secondary" (click)="sacar()"></button>
        </span>
    </p-dialog>
</div>

<div class="dialogAlterar flex justify-content-center">
    <p-dialog header="Alterar" [(visible)]="alterar" [style]="{width: '60%' , height: '30%'}">
        <span class="p-inputgroup p-float-label">
            <p-inputNumber class="alterar" inputId="alterar" mode="decimal"
                [maxFractionDigits]="2" mode="currency" currency="BRL"
                locale="pt-BR"
                [(ngModel)]="value"> </p-inputNumber>
            <label htmlFor="alterar">Digite o valor do saque</label>

            <button pButton label="Efetuar alteração"
                styleClass="p-button-secondary" (click)="sacar()"></button>
        </span>
    </p-dialog>
</div>
