<div class="container">
    <div class="leftSide">

        <img src="./assets/169850.png" alt="">

    </div>
    <div class="rightSide">

        <h1>Bank System</h1>

        <div class="formBox">
            <h2>Acesse sua conta</h2>

            <span class="p-float-label">
                <input pInputText id="username" [(ngModel)]="value" />
                <label htmlFor="username">Digite sua conta</label>
            </span>

            <p-button class="loginBtn" label="Login" styleClass="p-button-secondary" routerLink="/home"></p-button>
        </div>

    </div>
</div>
